html,
body {
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}